.git
.github
.gradle
.idea
**/build
**/.env
**/*.env
**/application-secret.properties
**/application-*.secret.properties
**/application-local.properties
**/application-local.yml
**/application-local.yaml
**/*.pem
**/*.key
**/*.p8
**/*.p12
**/*.pfx
**/*.jks
**/*.keystore
**/*.truststore
