HELP.md
.gradle
build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
out/
!**/src/main/**/out/
!**/src/test/**/out/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

src/main/resources/application-secret.properties
.env
*.env
application-secret.properties
bootrun-*.log

### Secrets / credentials ###
**/application-secret.properties
**/application-*.secret.properties
**/application-local.properties
**/application-local.yml
**/application-local.yaml
**/application-dev-local.properties
**/application-dev-local.yml
**/application-dev-local.yaml
*.pem
*.key
*.p8
*.p12
*.pfx
*.jks
*.keystore
*.truststore
id_rsa
id_rsa.pub
id_ed25519
id_ed25519.pub
.aws/
.aws/credentials
.aws/config
aws-credentials*
aws-config*
**/*secret-local*
**/*secrets-local*
**/*credential-local*
**/*credentials-local*
**/*credentials.properties
**/*credentials.yml
**/*credentials.yaml
**/*secret.properties
**/*secret.yml
**/*secret.yaml
*private-key*
*private_key*
*access-key*
*access_key*
*rds-ca*
global-bundle.pem
